.table-container {
    margin: 20px auto;
    max-width: 70%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}


.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.table thead {
    background-color: #a73afd;
}

.table th {
    padding: 12px;
    font-weight: 600;
    color: #fff;
}


.table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

.table td {
    padding: 12px;
    font-size: 16px;
    color: #555;
}


.table td:nth-child(5) {
    width: 100px;
}


.table-container .table thead th:first-child {
    border-top-left-radius: 8px;
}

.table-container .table thead th:last-child {
    border-top-right-radius: 8px;
}

.table tbody tr:last-child {
    border-bottom: none;
}

@media screen and (max-width: 500px) {
    .table-container {
        max-width: 95%; /* Таблица занимает всю ширину экрана */
        margin: 10px auto; /* Уменьшаем отступы */
    }

    .table thead {
        display: block;
        background-color: #a73afd;
    }

    .table thead tr {
        display: block;
    }

    .table th {
        display: block;
        text-align: right;
        padding: 8px;
        font-size: 14px;
        border-bottom: 1px solid #e0e0e0;
    }



    .table tbody tr {
        display: block;
        margin-bottom: 10px;
        border-bottom: 2px solid #a73afd;
    }

    .table td {
        display: block;
        text-align: right;
        padding: 8px;
        font-size: 14px;
        border-bottom: 1px solid #e0e0e0;
    }

    .table td::before {
        content: attr(data-label);
        float: left;
        font-weight: 600;
        color: #a73afd;
    }

    .table td:last-child {
        border-bottom: none;
    }

    .table td:nth-child(5) {
        width: auto;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    .table-container {
        max-width: 98%;
        margin: 20px auto;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        min-width: 600px;
    }

    .table th,
    .table td {
        padding: 8px;
        font-size: 14px;
    }

    .table th {
        background-color: #a73afd;
        color: #fff;
    }

    .table tbody tr {
        border-bottom: 1px solid #e0e0e0;
    }

    .table tbody tr:last-child {
        border-bottom: none;
    }
}